.wrapper {
  position: relative;

  .input {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--grey);
    padding-top: 12px;
    padding-bottom: 8px;
    outline: none;
    transition: all 0.3s linear;
    font-family: var(--inter);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;

    &:hover {
      border-bottom: 2px solid var(--blue);
    }

    &:invalid {
      border-bottom: 2px solid red;
    }

    &:not([value=""]):valid {
      border-bottom: 2px solid #00f300;
    }

    &:focus + .placeholder {
      transition: all 0.3s linear;
      top: 0;
      left: 0;
      font-size: 9px;
      line-height: 9px;
    }

    &:not([value=""]) + .placeholder {
      top: 0;
      left: 0;
      font-size: 9px;
      line-height: 9px;
    }
  }

  .placeholder {
    position: absolute;
    top: 13px;
    left: 0;
    color: var(--grey);
    transition: all 0.3s linear;
    font-family: var(--inter);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }

  .error {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: red;
    margin: 5px 0 0;
  }
}
