.profile {
  display: grid;
  justify-items: center;
  max-width: 800px;
  margin: 0 auto;
  .top {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    .profileName {
      font-family: var(--Inter);
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: var(--Black);
      margin: 0;
    }
  }

  .fieldsList {
    display: grid;
    gap: 10px;
    margin-bottom: 60px;
  }
}
