{
  "extends": ["airbnb-base", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "max-len": [1, 100],
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "no-alert": "off",
    "no-undef": "off",
    "no-shadow": "off",
    "no-constructor-return": "off",
    "no-use-before-define": "off",
    "no-unused-expressions": "off",
    "no-useless-escape": "off",
    "no-restricted-globals": "off",
    "no-underscore-dangle": "off",
    "no-restricted-exports": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "func-names": "warn",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "default-param-last": "warn",
    "guard-for-in": 0,
    "prefer-promise-reject-errors": 0,
    "camelcase": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterOverload": true }]
  }
}
