<div class="{{className.wrapper}}">
  <hr class="{{className.divider}}" />
  <div class="{{className.container}}">
    <div class="{{className.left}}">
      <div class="{{className.avatar}}"></div>
      <div class="{{className.person}}">
        <p class="{{className.name}}">{{personName}}</p>
        <p class="{{className.message}}">{{personMessage}}</p>
      </div>
    </div>
    <div class="{{className.right}}">
      <p class="{{className.timer}}">{{time}}</p>
      <p class="{{className.unread}}" value="{{unreadMessages}}">{{unreadMessages}}</p>
    </div>
  </div>
</div>
