.button {
  width: 100%;
  max-width: 280px;
  padding: 17px 70px;
  background: var(--Blue);
  color: var(--White);
  border: none;
  border-radius: 8px;
  cursor: pointer;

  font-family: var(--Inter);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
}
