.popup {
  width: 340px;
  height: 272px;
  background: #fff;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;
  display: grid;
  align-content: space-between;
  justify-content: center;
  padding: 40px 30px;
  margin: 0;
  position: relative;

  .close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
  }

  .title {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #1e1e1e;
    text-align: center;
    margin: 0;
  }

  .status {
    margin: 0;
    font-family: var(--inter);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: red;

    &:empty {
      display: none;
    }
  }

  input[type="file"] {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }

  .button {
    font-family: var(--inter);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    background: var(--blue);
    color: var(--white);
    border-radius: 8px;
    padding: 13px 15px;
    border: none;
    cursor: pointer;
  }
}
