.container {
  display: grid;
  grid-template-columns: 310px 1fr;
  height: 100vh;

  .left {
    background: #fbfbfb;
    border-right: 1px solid #eaeaea;

    .topBar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 25px;
      margin-bottom: 14px;
      margin-top: 21px;
      padding: 0 10px;

      .addChat {
        font-family: var(--inter);
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        color: var(--blue);
        padding: 0;
      }

      .profileLink {
        justify-self: flex-end;
        margin: 0;
        color: #999;
        font-family: var(--inter);
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        text-decoration: none;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
          color: var(--blue);
        }
      }

      .serchContainer {
        width: 100%;
        display: grid;
        justify-content: center;

        .serchField {
          width: 290px;
          height: 32px;
          background: #efefef;
          border-radius: 5px;
          border: none;
          outline: none;

          &::placeholder {
            font-family: var(--inter);
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            color: #999;
          }
        }
      }
    }
  }

  .right {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;

    .text {
      font-family: var(--inter);
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: #999;
    }

    .messageContainer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 30px);
      display: grid;
      grid-template-columns: max-content 1fr max-content;
      align-items: center;
      gap: 10px;
      padding: 0 15px;

      .file {
        width: 32px;
      }

      .message {
        border: none;
        border-radius: 30px;
        background: #efefef;
        padding: 10px 20px;

        &::placeholder {
          font-family: var(--inter);
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 12px;
          color: #999;
        }
      }

      .sendButton {
        border: none;
        outline: none;
        cursor: pointer;
        color: var(--white);
        background: var(--blue);
        padding: 5px 10px;
        border-radius: 30px;
      }
    }
  }
}
