<section class="{{className.container}}">
  <h3 class="{{className.title}}">{{title}}</h3>
  <form action="#" class="{{className.form}}">
    <component id="email"></component>
    <component id="login"></component>
    <component id="firstName"></component>
    <component id="secondName"></component>
    <component id="phone"></component>
    <component id="password"></component>
    <component id="secondPassword"></component>
  </form>
  <div class="{{className.buttonsContainer}}">
    <component id="button"></component>
    <component id="link"></component>
  </div>
</section>
