.wrapper {
  display: grid;
  width: 800px;
  margin: 0 auto;
  gap: 10px;
  .container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    .name {
      width: max-content;
      font-family: var(--Inter);
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      color: var(--Black);
      margin: 0;
    }
    .input {
      width: max-content;
      border: none;
      outline: none;
      text-align: end;
      color: var(--Grey);
      &:disabled {
        background: transparent;
      }
    }
  }
  .divider {
    width: 100%;
    background: #eaeaea;
    opacity: 0.24;
    margin: 0;
  }
}
