.link {
  text-align: center;
  display: block;
  width: 100%;
  color: var(--blue);
  font-family: var(--inter);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  text-decoration: none;
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
